# APP

ENVIRONMENT=DEV
APP_NAME=
APP_PORT=
MAIN_DOMAIN=
DOCKERIZED=

# CORS (JSON format)

CORS_ALLOW_ORIGINS=

# DATABASE (PostgreSQL)

DB_POSTGRES_HOST=
DB_POSTGRES_PORT=
DB_POSTGRES_USER=
DB_POSTGRES_PASS=
DB_POSTGRES_NAME=

# REDIS

REDIS_HOST=
REDIS_PORT=
REDIS_PASS=
REDIS_AUTH_DB=
REDIS_THROTTLING_DB=
REDIS_QUEUE_DB=

# AUTH / SECURITY

SECRET_KEY=
ALGORITHM=

ACCESS_TOKEN_EXPIRE_MINUTES=
FAILED_LOGIN_ATTEMPTS=
FAILED_LOGIN_ATTEMPTS_TIMEOUT=

REFRESH_TTL_DAYS=
ACCESS_TTL_MINUTES=

# COOKIES

ACCESS_COOKIE_NAME=
REFRESH_COOKIE_NAME=

IS_LAX_COOKIE=
IS_SECURE_COOKIE=

COOKIE_DOMAIN_LIST=
