# =========================================
# CORE: FastAPI / ASGI
# =========================================

fastapi==0.121.0
uvicorn[standard]==0.38.0
pydantic-settings==2.11.0


# =========================================
# Config / Logging
# =========================================

python-dotenv==1.2.1
loguru==0.7.3


# =========================================
# Database: PostgreSQL / ORM
# =========================================

SQLAlchemy==2.0.44
asyncpg==0.30.0
alembic==1.17.1
greenlet==3.0.3


# =========================================
# HTTP Client
# =========================================

httpx==0.28.1

# =========================================
# Auth / Security
# =========================================

python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4

# =========================================
# Redis Client
# =========================================

redis==6.2.0
bcrypt~=5.0.0

# =========================================
# Code Quality / Dev Tools
# =========================================

black==25.1.0
flake8==7.3.0

starlette~=0.49.3
pydantic~=2.12.5
PyJWT==2.10.1
phonenumbers==9.0.23

# =========================================
# Code Quality / Dev Tools
# =========================================
aio-pika